version: "3.9"

services:
  ionic-frontend:
    container_name: ionic_frontend
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "8100:8100"
    environment:
      - CHOKIDAR_USEPOLLING=true
